:root {
  --color-primary: #2b7a78;
  --color-primary-light: #3aafa9;
  --color-primary-dark: #17252a;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-grey-light: #ffffff;

  --color-red-error: #ff5959;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1110px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
$bp-tiny: 21.75em; //348px

//GLOBAL RESET
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light-1);
  background-color: var(--color-grey-light);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  transition: all 0.4s;
  justify-content: center;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.remove {
  align-self: center;
  background-color: var(--color-red-error);
  padding: 6px 12px;
  color: var(--color-grey-light);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 1rem;
  transition: all 0.2s;
  width: auto;
  height: auto;
  margin-bottom: 1rem;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.05);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }
}

.remove__all {
  margin-bottom: 4rem;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--color-grey-dark-3);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--color-grey-dark-3);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--color-grey-dark-3);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--color-grey-dark-3);
}

h1 {
  font-size: 3rem;
  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
  }
}

.dot {
  //color: var(--color-primary-dark);
  margin: 0 5px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  padding: 1rem;
}

.one {
  position: absolute;
  border-radius: 50%;
  background: var(--color-primary-light);
  opacity: 0;
  animation: loading 1.3s 0.65s infinite;
  height: 20px;
  width: 20px;
}

.two {
  position: absolute;
  border-radius: 50%;
  background: var(--color-primary);
  opacity: 0;
  animation: loading 1.3s infinite;
  height: 20px;
  width: 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: scale(0.15);
    box-shadow: 0 0 2px rgba(black, 0.1);
  }
  50% {
    opacity: 1;
    transform: scale(2);
    box-shadow: 0 0 10px rgba(black, 0.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.15);
    box-shadow: 0 0 2px rgba(black, 0.1);
  }
}
