.main__weather {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__city {
    font-weight: 400;
    font-size: 2rem;
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    &--icon {
      width: 13rem;
      height: auto;
    }

    &--temp {
      font-weight: 300;
      font-size: 5.5rem;
      color: var(--color-primary);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--phrase {
      font-weight: 400;
      font-size: 1.8rem;
      margin-bottom: 5px;
      line-height: 1;
      color: var(--color-primary-light);
    }

    &--minmax {
      font-weight: 700;
      font-size: 1.3rem;
      letter-spacing: 1px;
      color: var(--color-grey-dark-3);
    }
  }
}

.cities {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 3rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    &__name {
      font-size: 1.7rem;
      font-weight: 500;
    }

    &__details {
      display: flex;
      align-items: center;
      width: 100%;

      &--icon {
        width: 7rem;
        height: auto;
        margin-right: 2rem;
      }

      &__text {
        display: flex;
        flex-direction: column;
        margin-right: auto;

        &--phrase {
          color: var(--color-primary-light);
          font-size: 1.6rem;
          line-height: 1;
          margin-bottom: 3px;
        }

        &--minmax {
          font-weight: 700;
          color: var(--color-grey-dark-3);
          font-size: 1.2rem;
          letter-spacing: 1px;
        }
      }

      &__temp {
        color: var(--color-primary);
        font-size: 3.5rem;
        line-height: 1;
        font-weight: 300;
      }
    }
  }
}
