.main__weather {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.05);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }

  @media only screen and (max-width: $bp-tiny) {
    padding: 2rem;
  }

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__city {
    font-weight: 400;
    font-size: 2rem;
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    &--icon {
      width: 13rem;
      height: auto;

      @media only screen and (max-width: $bp-smallest) {
        width: 11rem;
      }

      @media only screen and (max-width: $bp-tiny) {
        width: 9rem;
      }
    }

    &--temp {
      font-weight: 300;
      font-size: 5.5rem;
      color: var(--color-primary);

      @media only screen and (max-width: $bp-smallest) {
        font-size: 4.5rem;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--phrase {
      font-weight: 400;
      font-size: 1.8rem;
      margin-bottom: 5px;
      line-height: 1;
      color: var(--color-primary-light);
    }

    &--minmax {
      font-weight: 700;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      color: var(--color-grey-dark-3);
    }
  }
}

.cities {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    margin-bottom: 3rem;
  }

  &__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    cursor: pointer;

    @media only screen and (max-width: $bp-tiny) {
      padding: 1rem 1.5rem;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.05);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    }

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    &__name {
      font-size: 1.7rem;
      font-weight: 500;
      text-align: center;

      @media only screen and (max-width: $bp-smallest) {
        font-size: 1.5rem;
      }

      @media only screen and (max-width: $bp-tiny) {
        font-size: 1.3rem;
      }
    }

    &__details {
      display: flex;
      align-items: center;
      width: 100%;

      &--icon {
        width: 7rem;
        height: auto;
        margin-right: 2rem;

        @media only screen and (max-width: $bp-smallest) {
          width: 6rem;
          margin-right: 1rem;
        }

        @media only screen and (max-width: $bp-tiny) {
          width: 5rem;
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        margin-right: auto;

        &--phrase {
          color: var(--color-primary-light);
          font-size: 1.6rem;
          line-height: 1;
          margin-bottom: 3px;

          @media only screen and (max-width: $bp-smallest) {
            font-size: 1.5rem;
          }

          @media only screen and (max-width: $bp-tiny) {
            font-size: 1.3rem;
          }
        }

        &--minmax {
          font-weight: 700;
          display: flex;
          align-items: center;
          color: var(--color-grey-dark-3);
          font-size: 1.2rem;
        }
      }

      &__temp {
        color: var(--color-primary);
        font-size: 3.5rem;
        line-height: 1;
        font-weight: 300;

        @media only screen and (max-width: $bp-smallest) {
          font-size: 3rem;
        }

        @media only screen and (max-width: $bp-tiny) {
          font-size: 2.5rem;
        }
      }
    }
  }
}

.days {
  padding: 2rem;

  & .cities__weather {
    &__name {
      font-size: 1.6rem;

      @media only screen and (max-width: $bp-smallest) {
        font-size: 1.5rem;
      }

      @media only screen and (max-width: $bp-tiny) {
        font-size: 1.3rem;
      }
    }

    &__details {
      &--icon {
        width: 5.5rem;
        height: auto;

        @media only screen and (max-width: $bp-tiny) {
          width: 4.5rem;
        }
      }
    }
  }

  & > *:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.close-popup {
  position: absolute;
  top: 0rem;
  right: 0rem;
  align-self: flex-end;
  display: flex;

  &--icon {
    fill: var(--color-red-error);
    width: 2.5rem;
    transform: rotate(45deg);
    height: 2.5rem;
  }
}
